<div class="order-basket-component">
    <div class="row" *ngFor="let orderItem of order.items">
        <div class="col-xs-1">
            <div class="box">{{ orderItem.count }}x</div>
        </div>
        <div class="col-xs-9">
            <div class="box">
                <div>{{ orderItem.item.name }}</div>
                <div class="actions">
                    <a class="action" href="javascript:void(0)" (click)="onOrderItemIncremented.emit(orderItem)">Plus</a>
                    <a class="action" href="javascript:void(0)" (click)="onOrderItemDecremented.emit(orderItem)">Minus</a>
                    <a class="action" href="javascript:void(0)" (click)="onOrderItemRemoved.emit(orderItem)">Remove</a>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="box">
                <div></div>
            </div>
        </div>
    </div>
</div>