<div class="order-component">
    <h2>Ordering from {{ (restaurant$ | async).name }}</h2>
    <div class="row">
        <div class="col-xs-8">
            <div class="box">
                <app-menu [menu]="menu$ | async" (onItemSelected)="selectItem($event)"></app-menu>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <h5>Current Order</h5>
                <app-order-basket
                    [order]="order$ | async"
                    (onOrderItemSelected)="openOrderItem($event)"
                    (onOrderItemIncremented)="incrementOrderItem($event)"
                    (onOrderItemDecremented)="decrementOrderItem($event)"
                    (onOrderItemRemoved)="removeOrderItem($event)"></app-order-basket>

                <div>
                    <div *ngIf="isOrderLoading$ | async">Order is updating</div>
                    <div *ngIf="!(isOrderLoading$ | async)">Order is up-to-date</div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-xs-6">
                            <div class="box">
                                <div>Local Copy:</div>
                                <pre>{{ localOrder$ | async | json}}</pre>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="box">
                                <div>Server Copy:</div>
                                <pre>{{ serverOrder$ | async | json}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>