<div class="order-component">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <app-menu [menu]="menu$ | async" (onItemSelected)="selectItem($event)"></app-menu>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <h5>Current Order</h5>
                <div *ngIf="orderSynchronizing$ | async">Order is updating</div>
                <div *ngIf="!(orderSynchronizing$ | async)">Order is up-to-date</div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-xs-6">
                        <div class="box">
                            <div>Local Copy:</div>
                            <pre>{{ localOrder$ | async | json}}</pre>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="box">
                            <div>Server Copy:</div>
                            <pre>{{ serverOrder$ | async | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>